html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001429;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    max-width: 820px; /* Set a max width for larger screens */
    width: 100%; /* Make it responsive */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.score-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.heading {
    display: flex;
    justify-content: center;
    background-color: #3D7068;
    padding: 40px;
    border-radius: 10px;
    margin: 10px;
    color: #EFF7CF;
}

h1 {
    font-size: 60px;
    margin: 0px;
}

.score {
    font-size: 80px;
    margin: 0px;
    background-color: #3D7068;
    border-radius: 14px;
    color: #EFF7CF;
}

img {
    height: 200px;
    width: 200px;
}

.comp-play img {
    height: 150px;
    width: 150px;
}

button {
    background-color: transparent;
}

.buttons img:hover {
    transform: scale(1.1) rotate(35deg);
}

img {
	transform: rotate(30deg);
    filter: drop-shadow(2px 2px 4px #48BEFF);
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

a {
    color: #EFF7CF;
}

.comp-play {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comp-play p {
    color: #EFF7CF;
}

@media (max-width: 480px) {
    .heading {
        padding: 20px;
    }

    .heading h1 {
        font-size: 24px;
    }

    .buttons img, .comp-play img {
        height: 100px;
        width: 100px;
    }

    .score {
        font-size: 40px;
    }

    .footer a {
        font-size: 12px;
    }
}